.global-header {
    display: none;
}

.sharpeners .banner {
    margin: 0 calc(50% - 50vw);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 40.45%, rgba(0, 0, 0, 0) 58.89%), url(/grid-worksharp/img/sharpeners.webp);
    background-position: center;
    background-size: cover;
    aspect-ratio: 1440 / 473;
}

.sharpeners .banner-mob {
    margin: 0 calc(50% - 50vw);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%), url(/grid-worksharp/img/sharpeners-mob.webp);
    background-position: center;
    background-size: cover;
    aspect-ratio: 321 / 416;
}

.sharpeners .title-banner {
    font-family: TT Supermolot Neue;
    font-style: normal;
    font-size: clamp(1.875rem, 1.7233rem + 0.6472vw, 2.5rem);
    line-height: 114.01%;
    letter-spacing: -0.02em;
    transition: 1s;
}

.sharpeners .text-banner {
    font-family: SF Pro Display;
    font-style: normal;
    font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
    line-height: 114.01%;
    letter-spacing: -0.02em;
    transition: 1s;
}

.sharpeners .fw-700 {
    font-weight: 700 !important;
}

.sharpeners .back {
    margin: 0 calc(50% - 50vw);
}

.sharpeners .color-orange {
    color: #F4B122;
}

.sharpeners .bg-orange {
    background: #F4B122;
}

.sharpeners .bg-black-21 {
    background: #212121;
}

.sharpeners .color-black {
    color: #000000;
}

.sharpeners h2 {
    font-family: TT Supermolot Neue;
    font-style: normal;
    font-weight: 700 !important;
    font-size: clamp(1.875rem, 1.7233rem + 0.6472vw, 2.5rem);
    line-height: 114.01%;
    letter-spacing: -0.02em;
}

.sharpeners p {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 400 !important;
    font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
    line-height: 114.01%;
    letter-spacing: -0.02em;
}

.sharpeners .bg-back-orange {
    border-radius: 40px;
    background: #F4B122;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.25));
    transition: all .5s;
}

.sharpeners .bg-back-orange:hover, .sharpeners .bg-2:hover, .sharpeners .bg-3:hover, .sharpeners .card-ico:hover, .sharpeners .card-ico-black-21:hover {
    transform: scale(1.07);
    transition: all .5s;
}

.sharpeners .bg-1 {
    background: url(/grid-worksharp/img/1.webp);
    border-radius: 40px;
    background-size: cover;
    background-position: top 20% center;
    clip-path: polygon(35% 0, 100% 0, 100% 80%, 65% 100%, 0 100%, 0 20%);
    aspect-ratio: 408 / 225;
}

.sharpeners .bg-7 {
    background: url(/grid-worksharp/img/7.webp);
    border-radius: 40px;
    background-size: cover;
    background-position: top 20% center;
    clip-path: polygon(35% 0, 100% 0, 100% 80%, 65% 100%, 0 100%, 0 20%);
    aspect-ratio: 408 / 293;
}

.sharpeners .bg-2 {
    background: url(/grid-worksharp/img/2.webp);
    background-size: cover;
    background-position: center;
    filter: drop-shadow(13px 12px 16.6px rgba(0, 0, 0, 0.15));
    border-radius: 40px;
    aspect-ratio: 632 / 408;
    transition: all .5s;
}

.sharpeners .bg-3 {
    background: url(/grid-worksharp/img/3.webp);
    background-size: cover;
    background-position: center;
    filter: drop-shadow(13px 12px 16.6px rgba(0, 0, 0, 0.15));
    border-radius: 40px;
    aspect-ratio: 632 / 408;
    transition: all .5s;
}

.sharpeners .bg-4 {
    background: url(/grid-worksharp/img/4.webp);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    clip-path: polygon(25% 0, 100% 0, 100% 85%, 75% 100%, 0 100%, 0 15%);
    aspect-ratio: 408 / 408;
}

.sharpeners .bg-5 {
    background: url(/grid-worksharp/img/5.webp);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    clip-path: polygon(25% 0, 100% 0, 100% 85%, 75% 100%, 0 100%, 0 15%);
    aspect-ratio: 408 / 408;
}

.sharpeners .bg-6 {
    background: url(/grid-worksharp/img/6.webp);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    clip-path: polygon(25% 0, 100% 0, 100% 85%, 75% 100%, 0 100%, 0 15%);
    aspect-ratio: 408 / 408;
}

.sharpeners .card {
    background-color: transparent;
}

.sharpeners .card-ico {
    background: #FFFFFF;
    box-shadow: inset 13px 12px 16.6px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    aspect-ratio: 408 / 408;
    transition: all .5s;
}

.sharpeners .bg-knife1 {
    background: url(/grid-worksharp/img/knife1.webp), #212121;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(35% 0, 100% 0, 100% 80%, 65% 100%, 0 100%, 0 20%);
    aspect-ratio: 632 / 408;
    transition: all .5s;
}

.sharpeners .bg-knife2 {
    background: url(/grid-worksharp/img/knife2.webp), #212121;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(35% 0, 100% 0, 100% 80%, 65% 100%, 0 100%, 0 20%);
    aspect-ratio: 632 / 408;
    transition: all .5s;
}

.sharpeners .card-ico-black-21 {
    background: #212121;
    box-shadow: inset 13px 12px 16.6px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    aspect-ratio: 296 / 296;
    transition: all .5s;
}

.mobile {
    display: none;
}

.sharpeners .btn-sharpeners {
    font-size: 20px;
    padding: 1rem 2.5rem;
    background-color: #F4B223;
    box-shadow: 0px 0px 15px #F4B223;
    border: 1px solid #F4B223;
    border-radius: 1px;
}

.sharpeners .btn-sharpeners:hover {
    background-color: #ffffff;
    color: #F4B223;
    border: 1px solid #F4B223;
    box-shadow: none;
}

@media (max-width: 576px) {
    .sharpeners .bg-4, .sharpeners .bg-5, .sharpeners .bg-6 {
        aspect-ratio: 280 / 180;
    }
}

@media (max-width: 414px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none !important;
    }
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: url('/fonts/TTSupermolotNeue-ExpBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: url('/fonts/TTSupermolotNeue-ExpRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Regular.ttf') format('truetype');
}